VITE_WORKSPACE_LOCAL=true
VITE_OPEN_COSMOS_AUTH_DOMAIN=https://login.open-cosmos.com
VITE_OPEN_COSMOS_AUDIENCE=https://beeapp.open-cosmos.com
VITE_OPEN_COSMOS_REDIRECT_URI=https://eodatahub.org.uk/workspaces/
VITE_OPEN_COSMOS_SCOPE=openid profile email offline_access
VITE_OPEN_COSMOS_CLIENT_ID=
