.profile-tile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: translateY(-0.15rem);
  }
}
