.members {
  &-header {
    display: flex;
    justify-content: space-between;

    &-paragraph {
      width: 40%;

      img {
        padding: 3px;
      }

      span {
        font-weight: 700;
      }
    }
  }

  &-pagination {
    justify-self: right;
    margin-top: 16px !important;

    .page-item {
      a {
        background-color: var(--background) !important;
        border: none;
        color: var(--text-primary);
      }
    }

    .page-item.active {
      a {
        background-color: var(--background-secondary) !important;
      }
    }

    .page-item.disabled {
      span {
        background-color: var(--background) !important;
        border: none;
      }
    }
  }

  &-table-column-delete-button {
    all: unset;
    background-color: red;
  }
}
