.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7rem;
  gap: 1rem;

  &__left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    &__profile-logo {
      width: 3rem;
      height: 3rem;
      border-radius: 20%;
      background-color: var(--button-bg);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--button-text);
      border: 0.15rem solid rgb(206 206 206);
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}
