.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7rem;
  gap: 1rem;

  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  @media (width <= 900px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 3rem 0;

    &__left,
    &__right {
      width: 100%;
      justify-content: center;
    }
  }
}
