:root {
  /* Dark Theme (default) */
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #757575;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #fff;
  --icon-secondary: #2c2c2c;
  --content-border: 1px solid #f5f5f527;
}

.light-theme {
  /* Light Theme overrides */
  --background: #fff;
  --text-primary: #333;
  --text-secondary: #666;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #333;
  --icon-secondary: #666;
}
