.dark-theme {
  /* Dark Theme (default) */
  --background: #060606;
  --background-secondary: #434343;
  --text-primary: #fff;
  --text-secondary: #757575;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #fff;
  --icon-secondary: #2c2c2c;
  --content-border: 1px solid #f5f5f527;
  --svg-fill: white;
  --info-border: #3d9dce;
  --header-background: #ffffff0f;
  --error: rgb(250 111 111);
}

.light-theme {
  /* Light Theme overrides */
  --background: #fff;
  --background-secondary: #eaeaea;
  --text-primary: #000;
  --text-secondary: #969696;
  --button-bg: #4c72ba;
  --button-text: #fff;
  --icon-primary: #333;
  --icon-secondary: #666;
  --content-border: 1px solid rgb(128 128 128 / 15.8%);
  --svg-fill: black;
  --info-border: #3d9dce;
  --header-background: #f7f7f7cf;
  --error: rgb(229 35 35);
}
