$width: 600px;

.selector {
  border: 1px solid var(--background-secondary);
  border-radius: 12px;
  padding: 25px;
  width: $width;
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: var(--background-secondary);
    }
  }

  &-warning {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff3cd;
    padding: 8px 12px;
    border-radius: 4px;
    color: #856404;
    text-align: center;
    margin-top: 25px;

    .selector-warning img {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      border: 0;
    }

    span {
      order: 1;
      line-height: 1.4;
      margin-left: 32px;
    }

    strong {
      font-weight: 600;
    }
  }

  & &-warning img {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 40px;
    height: 40px;
    border: 0;
  }

  select {
    background-color: var(--background);
    color: var(--text-primary);
  }

  &-collections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 25px;

    select {
      width: 100%;
      height: 25px;
    }

    .button {
      width: 200px;
      justify-self: right;
      height: 25px;
    }

    &__buttons {
      display: flex;
      margin-top: 25px;
      gap: 25px;
      height: 40px;
    }

    &-new {
      margin: 15px 0;

      &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
          font-size: 20px;
          font-weight: 600;
        }

        input {
          padding: 3px;
          background-color: var(--background);
          color: var(--text-primary);
          outline: none;
          border: 1px solid grey;
        }
      }

      &__buttons {
        display: flex;
        justify-self: right;
        gap: 25px;
        width: 400px;

        .button {
          width: 100%;
        }
      }
    }
  }

  &-catalogs {
    select {
      width: 100%;
      padding: 3px;
    }
  }
}
