.storage-browser {
  button {
    border: none;
    border-radius: 10px;
    min-width: 35px;
    width: 100%;
    padding: 10px 15px;
  }

  /* stylelint-disable */
  .storage-browser__navigate__button {
    background: none;
    color: var(--text-primary);
    font-size: 14px;
  }

  .storage-browser__table__data {
    text-align: center;
  }

  .storage-browser__navigate__item {
    span {
      padding: 10px 0 !important;
      font-size: 13px;
    }
  }

  .storage-browser__table__data--size,
  .storage-browser__table__data--type,
  .storage-browser__table__data--lastModified {
    .storage-browser__table__data__text {
      text-align: center;
    }
  }
  /* stylelint-enable */
}
