@import '../../../styles/main';

.add-account {
  &-errors {
    color: $error-colour;
    border: 1px solid $error-colour;
    border-radius: 12px;
    padding: 15px;
    padding-left: 30px;
    margin-top: 15px;

    &__error {
      color: $error-colour;
    }
  }

  &-modal-container {
    width: fit-content;
    margin: 0 auto;
  }

  button {
    width: 200px;
  }
}
