.add-workspace {
  &-modal {
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-description {
      margin: 15px 0;
    }

    span {
      width: 100%;
      border: 1px solid #ffb74d;
      background-color: #fff4e5;
      border-radius: 12px;
      padding: 5px 15px;
      color: var(--text-secondary);
    }
  }
}
