@import '../../../styles/main';

.field {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;

  label {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 18px;
  }

  input {
    padding: 3px 5px;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid lightgrey;

    &:disabled {
      background-color: lightgrey;
    }
  }

  &-dropdown {
    outline: none;
    height: 24px;
    border: 1px solid lightgrey;
    background-color: white;
  }

  &-error {
    color: var(--error);
    font-weight: 500;
    font-size: 14px;
  }
}
