@import '../../../styles/main';

.info {
  place-self: center center;
  border: 1px solid var(--info-border);
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 12px;

  &-error {
    border-color: var(-error);
    width: 50%;
    min-width: 300px;

    &__item {
      color: var(--error);
    }
  }
}
