.invoices {
  display: flex;
  align-items: center;
  flex-direction: column;

  &-breakdown {
    display: flex;
    gap: 15px;
    align-self: flex-start;

    &__header {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    select {
      width: 200px;
    }
  }

  &-tabs {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 25px;
    width: 100%;

    &__tab {
      width: 150px;
      display: flex;
      justify-content: center;
      transition: all 0.2s linear;
      background-color: rgb(158 158 158);
      color: grey;
      cursor: pointer;

      &:hover {
        background-color: lightgrey;
      }
    }

    &__tab.active {
      background-color: white;
      color: black;
      font-weight: 600;
      cursor: not-allowed;
    }
  }

  &-container {
    width: 1000px;
  }

  &-value {
    &-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__header {
      font-size: 30px;
    }

    &__costs {
      display: flex;
      flex-direction: column;
      justify-self: left;

      &-header {
        font-size: 25px;
      }

      &-value {
        font-size: 25px;
        color: var(--text-tertiary);
      }
    }

    &__sub {
      font-size: 12px;
    }
  }

  &-warnings {
    width: 100%;
    border: 1px solid var(--warning-border);
    padding: 25px;
    border-radius: 12px;
    background-color: var(--warning-background);
    color: var(--warning);
  }

  &-info {
    margin-top: 15px;
    border: 1px solid var(--warning-border);
    padding: 25px;
    border-radius: 12px;
    background-color: var(--warning-background);
    color: var(--warning);
  }
}
