.invoices {
  padding: 25px;

  &-value {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__header {
      font-size: 30px;
    }

    &__costs {
      display: flex;
      flex-direction: column;

      &-header {
        font-size: 25px;
      }

      &-value {
        font-size: 25px;
        color: var(--text-tertiary);
      }
    }

    &__sub {
      font-size: 12px;
    }
  }

  &-warnings {
     border: 1px solid var(--warning-border);
     padding: 25px;
     border-radius: 12px;
     background-color: var(--warning-background);
     color: var(--warning);
  }

  &-info {
    margin-top: 15px;
    border: 1px solid var(--warning-border);
    padding: 25px;
    border-radius: 12px;
    background-color: var(--warning-background);
    color: var(--warning);
  }
}
