$sidebar-background-color: rgb(228, 228, 228);
$sidebar-text-color: #333;
$sidebar-accent-color: #0056b3;
$sidebar-width: 250px;
$transition-speed: 0.3s;

.workspace__sidebar {
  background-color: $sidebar-background-color;
  width: $sidebar-width;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: $sidebar-text-color;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
  }
}

.workspace__sidebar-group {
  margin-bottom: 20px;

  h3 {
    color: $sidebar-text-color;
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.sidebar__item {
  padding: 5px 20px;
  margin-bottom: 10px;
  transition: all $transition-speed ease;
  cursor: pointer;

  color: $sidebar-accent-color;
  text-decoration: none;
  font-size: 14px;
  transition: color $transition-speed ease;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:hover:not(.sidebar__item--active) {
    transform: translateX(6px);
    background-color: #4c72ba57;
  }

  &--active {
    background-color: #4c72ba;
    color: white;
    font-weight: bold;
  }
}

.sidebar__item--active {
  a {
    font-weight: bold;
    color: darken($sidebar-accent-color, 20%);
  }
}
