.workspace-selection {
  padding: 0.275rem;

  .profile-tile {
    cursor: pointer;
  }

  &__title {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--text-secondary);
    margin: 2rem 0;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    overflow-y: auto;
  }

  &__add {
    cursor: pointer;
  }
}
