.key-name {
  white-space: nowrap;
}

.aws-creds {
  word-wrap: break-word;
  word-break: break-word;
}

.copy-button {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  right: 5px;
  cursor: pointer;

  img {
    width: 30px;
    height: 30px;
  }
}

.create-token {
  cursor: pointer;
}

.new-token {
  &-message {
    display: flex;
    flex-direction: column;

    .copy-all-button {
      cursor: pointer;
      width: 200px;
    }
  }

  &-section {
    border: 1px solid lightgrey;
    border-radius: 6px;
    display: flex;
    position: relative;
    min-height: 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
