@import '@/styles/main';

.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  .page-view {
    max-width: 2400px;
    width: 100%;
    height: 100%;

    .content {
      display: flex;
      width: 100%;
      height: 100%;

      .workspace-selection {
        width: 80px;
        flex-shrink: 0;
      }

      .workspace-menu {
        flex: 1;
        min-width: 225px;
      }

      .workspace-content {
        flex: 5;
      }

      .content-page {
        padding: 2rem;
      }
    }
  }

  .content-border {
    border: var(--content-border);
  }
}
