.credentials {
  &-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-service {
    border-bottom: var(--content-border);
    padding: 1rem 0;
  }
}
