.data-hub {
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }

  button.create-token {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }

  .disclaimer {
    border: 1px solid #cccccc94;
    padding: 1rem;
  }

  .token-list {
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
      }
    }

    button {
      background-color: #0056b3;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  }
}
